allow init ion_device:chr_file write;
allow init video_device:chr_file { ioctl write };
allow init init:socket { read };
allow init init:capability2 { block_suspend };
allow init smd_device:chr_file { read write };
